@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    body {
        margin: 0;
        padding: 0;
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    }
   
html {
    scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.intro {
    background: linear-gradient(to top, rgba(244,244,244,0.2), rgba(0,0,0,0.9)),
    url("https://plus.unsplash.com/premium_photo-1723619058127-5f2308556d1f?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2069")
    no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 70vh;
}